@model TrocaModel

<h1>Troca</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <input type="hidden" name="ProdutoId1" value="@Model.ProdutoId1" />

            <div class="form-group">
                <label class="control-label">Nome: @Model.Produto1.Nome</label>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.Produto1.Descricao</label>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.Produto1.Valor</label>
            </div>
            <div class="form-group">
                <label class="control-label">@Model.Produto1.SugestaoTroca</label>
            </div>

            <div class="form-group">
                <label class="control-label">Selecione seu produto:</label>
                <select class="form-control" asp-for="ProdutoId2" asp-items="@ViewBag.Produtos">
                    <option value="0">Selecione seu produto</option>
                </select>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
